<p><%= @player1 %> vs. <%= @player2 %></p>
<p><%= @player2 %>: <%= $player2.hit_points %></p>
<form action="/attack" method="post">
  <input type="submit" value="Attack" >
</form>
<p><%= @player2 %>: <%= $player2.hit_points %>HP</p>